In [6]:
import pandas as pd
import numpy as np

In [2]:

df  = pd.read_csv("h.csv")

df

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Price
0,1.386295,2.014903,1.386295,6.931477e-01,6.931477e-01,6.641182,4.836282,7.341484,14.137594
1,0.693148,1.704748,0.693148,9.999995e-07,9.999995e-07,5.241747,4.836282,9.338206,13.910821
2,1.098613,2.219204,1.098613,9.999995e-07,1.386295e+00,6.405228,4.753590,8.963032,14.207553
3,1.098613,1.648659,1.098613,9.999995e-07,9.999995e-07,5.780744,4.836282,9.385805,13.869051
4,1.386295,2.624669,1.386295,1.098613e+00,6.931477e-01,6.590301,5.099866,8.597851,13.815511
...,...,...,...,...,...,...,...,...,...
5427,1.098613,2.415914,1.098613,9.999995e-07,9.999995e-07,-13.815511,4.836282,9.982761,13.654755
5428,0.693148,1.280934,0.693148,9.999995e-07,9.999995e-07,5.099866,4.532600,8.739376,14.151983
5429,1.098613,0.955512,1.098613,9.999995e-07,9.999995e-07,5.948035,4.836282,9.612400,13.790193
5430,0.693148,2.631889,0.693148,6.931477e-01,9.999995e-07,5.303305,4.369448,9.302828,13.489780
5431,1.098613,2.104134,1.098613,9.999995e-07,6.931477e-01,6.216606,4.990433,8.528726,13.664688

In [7]:
# Check for infinite values
inf_values = df.isin([np.inf, -np.inf])

# Display rows with infinite values
print("Rows with infinite values:")
print(df[inf_values.any(axis=1)])

# Display columns with infinite values
print("Columns with infinite values:")
print(df.columns[inf_values.any()])

Rows with infinite values:
Empty DataFrame
Columns: [Rooms, Distance, Bedroom2, Bathroom, Car, Landsize, BuildingArea, Propertycount, Price]
Index: []
Columns with infinite values:
Index([], dtype='object')